main *{
	margin: 5px auto;
	text-align: center;
}
h2.title{
	font-weight: 400;
	margin-left: 10%;
}

table.stats{
	margin: 10px auto;
}
td.stat-name{
	text-align: right;
	padding-right: 60px;
}
td.stat-value{
	padding-left: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 95%;
}
tr.important-row{
    font-size: 120%;
    color: gold;
}
figure.player-logo{

}
figure.player-logo img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
span.data{
    font-size: 105%;
    font-style: normal;
    color: #bf3b24;
}